* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #000;
    list-style: none;
    text-decoration: none;
  }
  h1,h2,h3{
    font-family: "Playfair Display", serif;
  }

  p,span,a{
    font-family: "Source Sans 3", serif;
  }

  .numero{
    font-family: "Playfair Display", serif;
  }
  a{
    width: 100%;
    height: 100%;
  }
  body{
      overflow-x: hidden;
      height: 100%;
  }
  .bloque-ns-100{
    width: 100%;
  }
  .bloque-ns{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

 
  .flex{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
  }

  .flex-column{
    align-items: center;
    flex-direction: column;
  }

/*headers*/

header.flex{
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 8px;
 
}

header.flex .boton-menu{
  border-radius: 8px;
 background: #DC1C2E;
  padding: 12px 20px;
}
header.flex .boton-menu a{
  color: #fff;
  font-size: 12px;
  line-height: 160%;
 

}

/*Principal*/

.principal{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/principal.png");
 backdrop-filter: #000;
 margin-bottom: 90px;
}
.principal::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,60%);
  z-index: 1;
}

.principal .porcentaje-40{
  width: 50%;
 position: relative;
 z-index: 2;
  color: #fff;
  text-align: center;

}
.principal .porcentaje-40 b,.principal .porcentaje-40 p, .principal .porcentaje-40 h1, .principal .porcentaje-40 h2{
  color: #fff;
  margin-bottom: 24px;
}

.principal .porcentaje-40 h2{
  font-size: 72px;
  line-height: 108%;
}

.principal .porcentaje-40 b{
  font-size: 24px;
}

.principal .porcentaje-40 p{
  font-size: 18px;
  line-height: 150%;
}

.principal .boton-principal{
  background-color: #fff;
  width: auto;
  padding: 28px;
font-size: 16px;
height: auto;

}

.principal .boton-principal a{
  color:#000 ;
  font-weight: 100;
}

  /*no abandones tus redes*/

  .porcentaje-50{
    width: 50%;
  }
  .no-abandones{
  
    align-items: center;
  }
  .no-abandones .info-redes{
   padding-right: 48px;
  
  }

  .no-abandones .info-redes h2{
    font-size: 46px;
    margin-bottom: 16px;

  }

  .no-abandones .info-redes p{
    font-size: 18px;
    margin-bottom: 40px ;
  }

  .no-abandones .info-redes button, button{
    font-size: 14px;
    height: 56px;
    border-radius: 8px;
    width: 50%;
    border: none;
    background-color: #DC1C2E;
  }

  .no-abandones .info-redes button:hover,button:hover{
    background: #004E9B ;
    cursor: pointer;
  }

  .no-abandones .info-redes button a, button a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }

  .no-abandones .info-ofrecemos{
    background: #FAFAF9;
    padding: 32px 10%;
    border-radius: 48px;
    margin: 0 auto;

  }
  .no-abandones .info-ofrecemos article{
    margin: 0 auto;
    padding-right: 20%;
    margin-bottom: 28px;
  }

  .no-abandones .info-ofrecemos article:last-child{
    margin-bottom: 0;
  }
  .no-abandones .info-ofrecemos h3{
    font-size: 18px;
    color: #1C1917;
    margin: 8px 0;
  }

  .no-abandones .info-ofrecemos span{
    font-size: 14px;
    color: #78716C;
  }

  /*con carrousel*/
  .flex.con-carrousel{
    align-items: center;
    justify-content:flex-start;
  }

  .con-carrousel .bloque-1{
    margin-right: 64px;
    width: 40%;
  }

  .con-carrousel h2{
    font-size: 36px;
    padding-right: 90px;
    margin-bottom: 16px;
   
  }
  .con-carrousel p{
    font-size: 18px;
    color: #1C1917;
    margin-bottom: 32px;
  }

  .bloque-1 button{
    width: 110px;
    height: 56px;
    border-radius: 999px;
  }

  /*como suscribirse*/

  .como-suscribirme{
    padding-right: 10%;
    margin-bottom: 70px;
    /*aca hay algo que hacer*/

  }

  .como-suscribirme h2{
    font-size: 46px;
    width: fit-content;
    padding-bottom: 10px;
    position: relative;
    font-weight: 900;
  }

  .como-suscribirme h2::after{
    content: "";
    position: absolute;
    width: 55%;
    display: block;
    height: 8px;
    top: 100%;
    background: #004E9B;
  }

  .como-suscribirme .info-suscribirse{
    margin-top: 42px;
    padding: 32px 0;
    border-bottom: 1px solid #B1B1B1;
  }
  
  
.como-suscribirme .info-suscribirse article{
  align-items: end;
}

  .como-suscribirme article span{
    width: 25%;
    margin-right:40px ;
  }

  .como-suscribirme article div{
    width: 75%;
  }

  .como-suscribirme article div p{
    font-size: 18px;
    color: #78716C;
  }

  .como-suscribirme article div h3:first-child{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 16px;
}

.como-suscribirme .info-suscribirse article .numero{
  font-size: 108px;
 color: #DC1C2E;
 line-height: 110%;
 font-weight: bold;
 
}

.como-suscribirme .info-suscribirse .numero.dos{
  color: #004E9B;
}


/*pregunta frecuentes */
.preguntas{
 margin-bottom: 90px;
}

.preguntas h2{
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 24px;

}

.preguntas p{
  font-size: 18px;
  color: #78716C;
  margin-bottom: 80px;
}

.preguntas article p{
  margin-bottom: 43px;
}

.preguntas article h3{
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 16px;
}
.preguntas article p{
  font-size: 14px;
  color: #1C1917;
}

/*ultimo bloque*/
.crece{
 margin-bottom: 120px;
}

.crece article{

  margin: 47px;
  
}

.crece h2{
  font-size: 36px;
  position: relative;
  width: fit-content;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
}

.crece h2::after{
  content: "";
  position: absolute;
  width: 25%;
  display: block;
  height: 8px;
  top: 100%;
  background: #004E9B;
}

.crece article p{
  font-size: 22px;
  width: 90%;
  color: #78716C;
  margin-bottom: 48px;
}

.crece article .flex{
  align-items: center;
  justify-content: start;
}

.crece article .flex img{
  margin-right: 8px;
}

.crece article .flex button{
  width: 55%;
}


footer.bloque-ns-100{
  padding: 62px 32px ;
  background-color: #1C1917;
}

footer .bloque-ns{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
footer.bloque-ns-100 img{
  margin-right: 8px;
}

footer .bloque-ns h3{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}
footer h3, footer p, footer b, footer a{
  color: #F5F5F4;
}

footer article.flex{
  align-items: start;
}
  @media screen and (max-width:1290px){
    .bloque-ns{
        max-width: 1200px;
    }
    .flex.con-carrousel{
        justify-content: center;
    }
  }

  @media screen and (max-width:1025px){
    .flex{
        flex-direction: column;
    }
    .porcentaje-50{
     width: 100%;
     text-align: center;
    }

    .con-carrousel .bloque-1 {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .con-carrousel img{
        width: 90%;
    }
    .con-carrousel h2{
        padding: 0;
    }

    .no-abandones .info-redes{
        padding: 20px;
    }
  } 